    <blockquote class="self-elem-quote {{if isset $.Site.Params "quote"}}self-elem-quote-bg-{{index $.Site.Params.quote}}{{end}}" style="background-color:#FFFFFF;margin-top: 10px;">
        <a href="{{.RelPermalink}}">
            <h2 style="font-weight: 700;" class="">{{.Title}}</h2>
        </a>
        {{partial "info" .}}
        <h4 style="color: rgb(67, 68, 67);"> 
        	{{ if isset .Params "description" }}
				{{ .Description }}
			{{ else if gt (len .Summary) 150 }}
				{{ .Summary | truncate 150 " ..." }}
            {{else if .Summary}}
                {{.Summary}}
            {{end}} <a href="{{.RelPermalink}}"><span style="color:#01AAED">Read More</span></a>
        </h4>
    </blockquote>
